@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {

    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px #16F5BD;

}

#red-score,
#green-score {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    height: 40px;
    width: 80px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: 40px;

}

#red-score {
    color: white;
}

#green-score {
    color: white;
}

.top-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    align-items: center;

}

.middle-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;

}

#playing-info {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    margin-right: 35px;
    margin-top: 5px;
    padding: 3px 5px;
    color: white;
    letter-spacing: 0.1rem;
}

#dropdown {
    width: 99px;
    height: 20px;
    margin-top: 10px;
    margin-left: -20px;
    padding: 2px;
    border: 1px solid #16F5BD;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
}

.top-middle {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
}




#reset input {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border-color: #16F5BD;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#reset input:hover {
    border-color: #0fbe93;
    background-color: transparent;
    transition: 0.35s ease-in-out;
    color: #0fbe93;
}


.lower-mid-section {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: center;
}

button {
    color: #fff;
    cursor: pointer;
    background: transparent;
    width: 109px;
    margin-top: -1.1rem;
    margin-left: -0.9rem;
}

button:hover {
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;

}

#inc-player-one,
#inc-player-two {
    border: none;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    padding: 5px 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    cursor: pointer;

}

#inc-player-one {
    /* background: linear-gradient(90deg, #f441a5, #ffeb3b); */
    text-shadow: 0 0 10px #16F5BD, 0 0 40px #16F5BD, 0 0 80px #16F5BD;
    background-color: transparent;
    border: 1px solid #16F5BD;
}

#inc-player-one:hover {
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    border: 1px solid #fff;
}

#inc-player-two {
    /* background: linear-gradient(90deg, #f5ce62, #03a9f4); */
    text-shadow: 0 0 10px #ff6600, 0 0 40px #ff6600, 0 0 80px #ff6600;
    background-color: transparent;
    border: 1px solid #ff6600;


}

#inc-player-two:hover {
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    border: 1px solid #fff;
}

#choose-num {
    border: none;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}